.navbar-brand1{
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    padding-right: 3rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.btn-outline-success {
    color: #0d6efd;
    border: 1px solid #0d6efd;
}
.btn-outline-success:hover{
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    box-shadow: 1px 1px 10px #0d6efd;
}
.foot-txt {
    text-align: justify;
}
.container{
    width: 45%;
    margin: 50px auto; 
    border: 1px solid aliceblue;
    padding: 20px 50px;
    background: #1d1e22;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  .container:hover{
    box-shadow: 1px 1px 10px #007bff, 1px 1px 10px black;
  }
  header{
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin: 20px 0;
  }
 
  .in-container{
    width: 100%;
    margin: 0px 0;
    color: #f6f6f6;
  }
  h2{
    font-weight: 400;
    color: #007bff;
    border-bottom: 1px solid #007bff;
    border-width: 2px;
    margin: 20px 50px;
    padding: 10px;
    text-align: center;
  }
  .row{
    width: 100%;
    margin: 20px 0;
    padding: 0;
    display: table;
  }
  .col2{
    display: table;
    width: 47%;
    float: left;
  }
  .col2:nth-child(2){
    display: table;
    float: right;
  }
  label{
    line-height: 35px;
    display: table-header-group;
    letter-spacing: 0.9px;
    transition: all 0.3s ease;
  }
  input{
    width: 100%;
    display: table-row-group;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background: transparent;
    color: #f6f6f6;
    font-size: 1rem;
  }
  input:focus{
    outline: none !important;
    border-color: #EF5350;
  }
  input:focus + label{
    color: #EF5350;
  }
  input[type="submit"]{
    display: table;
    width: 30%;
    margin: 20px -32px 0 auto;
    background: #EF5350;
    border: 0;
    
  }
  input[type="submit"]:hover{
    background: transparent;
    border: 2px solid #007bff;
    color: #007bff;
    cursor: pointer;
  }
 
  